.inline-select-dropdown {
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.overall-styling {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    background-color: #F4F4F4;
    padding: 1.5rem 2rem;
    margin-bottom: 30px;
}

.text-lining {
    padding-top: 7px;
    font-size: 16px;
}

.dropdown-width {
    width: 300px;
}

.result-list {
    margin-left: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    > li {
        padding-bottom: 15px;
        border: 1px solid #e7e7e7;
        min-height: 200px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > a{
            text-decoration: none;
            font-size: 16px;
            display: block;
        }
    }

    &__tags{
        margin: 0;
        margin-top: 1rem;
    
        > li {
            background-color: #002145;
            border: none;
            color: white;
            list-style: none;
            padding: 0px 6px;
            text-align: center;
            text-decoration: none !important;
            margin: 2px 2px;
            border-radius: 5px;
            display: inline-block;
        }
    }
}

.svg-icon {
    width: 12px;
    height: 12px;
    padding-right: 7px;
    fill: #002144;
}